<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="cadenachollos" connectionString="Data Source=DESKTOP-EKP28J6\SQLEXPRESS;Initial Catalog=ChollosDB;User ID=sa;Password=abc123; min pool size=10;max pool size=30" providerName="System.Data.SqlClient"  />-->
    <add name="cadenachollos" connectionString="Data Source=devsql.dcp.pe;Initial Catalog=ChollosDB;User ID=adminsql;Password=Admin123456$; min pool size=10;max pool size=30" providerName="System.Data.SqlClient"  />
  </connectionStrings>
</configuration>